# **Income Tax Calculator India App**

*Author: Shreyas Dasari*

## Objective:

Build a Python program that calculates tax liability for both Old and New tax regimes based on the user's annual income. The Old Regime should allow deductions, while the New Regime should not. Finally, display which regime is more beneficial.

## Tax Rules

### Old Regime Slabs

● 0 - 2,50,000 → 0%

● 2,50,001 - 5,00,000 → 5%

● 5,00,001 - 10,00,000 → 20%

● Above 10,00,000 → 30% (Deductions allowed, for example 80C, 80D, Standard Deduction)

### New Regime Slabs

● 0 - 2,50,000 → 0%

● 2,50,001 - 5,00,000 → 5%

● 5,00,001 - 7,50,000 → 10%

● 7,50,001 - 10,00,000 → 15%

● 10,00,001 - 12,50,000 → 20%

● 12,50,001 - 15,00,000 → 25%

● Above 15,00,000 → 30% (No deductions allowed)

## Requirements:

1. **Inputs:**

○ Annual Salary

○ Total deductions (HRA, PF, 80C, etc.) applicable only for Old Regime

2. **Process:**

○ Calculate taxable income under Old Regime = Salary - Deductions

○ Apply slabs progressively for both regimes

○ Add 4% cess to total tax

3. **Outputs:**

○ Old Regime Tax, Taxable Income, and Take-home salary

○ New Regime Tax and Take-home salary

○ Which regime is better with savings amount

4. **Bonus Features:**

○ Show detailed slab-wise breakdown for both regimes

○ Validate inputs (negative values not allowed)

○ Allow multiple calculations in one run


## Example Run:

**Enter your Annual Salary:** 1200000

**Enter total deductions (Old Regime):** 150000

**Old Regime:**

Taxable Income = 1050000

Tax: 0-2.5L @ 0% = 0

2.5L-5L @ 5% = 12500

5L-10L @ 20% = 100000

10L-10.5L @ 30% = 15000

Base Tax = 127500

Cess (4%) = 5100

Total Tax = 132600

Take-home Salary = 1067400

**New Regime:**

Taxable Income = 1200000 (No deductions)

Base Tax = 150000

Cess (4%) = 6000

Total Tax = 156000

Take-home Salary = 1044000

**Better Option: Old Regime (Save 23400)**

In [72]:
# Take the input values
annual_sal = int(input("Enter the annual salary: "))
tot_deductions = int(input("Enter the total deductions: "))

taxable_income = annual_sal - tot_deductions
taxable_income_new = annual_sal - 0
print("Taxable income: ", taxable_income)
print("Taxable income new regime: ", taxable_income_new)

Enter the annual salary: 1200000
Enter the total deductions: 150000
Taxable income:  1050000
Taxable income new regime:  1200000

In [73]:
# Old regime
def old_regime_tax(annual_sal, tot_deductions):
  if annual_sal < 250000:
    tax = taxable_income * 0
  elif annual_sal >= 250000 and annual_sal <= 500000:
    tax = taxable_income * 0.05
  elif annual_sal > 500000 and annual_sal <= 1000000:
    tax = taxable_income * 0.2
  else:
    tax = taxable_income * 0.3
  return tax

In [74]:
# Calculate old regime tax
oldtax = old_regime_tax(annual_sal, tot_deductions)
oldtax

315000.0

In [75]:
# Calculating the cess of 4%
def cess(oldtax):
  cess = oldtax * 0.04
  return cess

In [76]:
# Adding Cess to old tax
total_old_tax = oldtax + cess(oldtax)
total_old_tax

327600.0

In [77]:
# New regime
def new_regime_tax(annual_sal):
  if annual_sal < 250000:
    tax = taxable_income_new * 0
  elif annual_sal >= 250000 and annual_sal <= 500000:
    tax = taxable_income_new * 0.05
  elif annual_sal > 500000 and annual_sal <= 750000:
    tax = taxable_income_new * 0.1
  elif annual_sal > 750000 and annual_sal <= 1000000:
    tax = taxable_income_new * 0.15
  elif annual_sal > 1000000 and annual_sal <= 1250000:
    tax = taxable_income_new * 0.2
  elif annual_sal > 1250000 and annual_sal <= 1500000:
    tax = taxable_income_new * 0.25
  else:
    tax = taxable_income_new * 0.3
  return tax

new_tax = new_regime_tax(annual_sal)
new_tax

240000.0

In [78]:
# Calculating the cess of 4% using new_tax
def cess_new(new_tax):
  cess = new_tax * 0.04
  return cess

In [79]:
# Adding Cess to new tax
total_new_tax = new_tax + cess_new(new_tax)
total_new_tax

249600.0

In [80]:
# Final take home salary using both the regimes
take_home_old = taxable_income - total_old_tax
take_home_new = taxable_income_new - total_new_tax
print("Take home old regime: ", take_home_old)
print("Take home new regime: ", take_home_new)

Take home old regime:  722400.0
Take home new regime:  950400.0

In [81]:
def format_currency(amount):
        return f"₹{amount:,.2f}"

In [82]:
# Better option to save money
def better_option(take_home_old, take_home_new):
  if take_home_old > take_home_new:
    return f"Old regime is better. You Save: {format_currency(take_home_old - take_home_new)}"
  else:
    return f"New regime is better. You Save: {format_currency(take_home_new - take_home_old)}"

In [83]:
better_option(take_home_old, take_home_new)

'New regime is better. You Save: ₹228,000.00'

In [84]:
def tax_report():
    # Print report
    print("="*60)
    print("INDIAN INCOME TAX CALCULATOR")
    print("Financial Year 2023-24")
    print("="*60)
    print(f"Enter your annual salary (₹): {annual_sal}")
    print("Deductions include: 80C, 80D, HRA, LTA, etc.")
    print("(Note: Deductions are only applicable in Old Regime)")
    print(f"Enter total deductions (₹): {tot_deductions}")
    print("="*60)
    print("INCOME TAX CALCULATION SUMMARY")
    print("="*60)
    print()
    print(f"Gross Annual Salary: {format_currency(annual_sal)}")
    print(f"Deductions Claimed: {format_currency(tot_deductions)}")
    print()
    print("-"*60)
    print("OLD TAX REGIME")
    print("-"*60)
    print(f"Taxable Income: {format_currency(taxable_income)}")
    print(f"Income Tax: {format_currency(oldtax)}")
    print(f"Education & Health Cess (4%): {format_currency(cess(oldtax))}")
    print(f"Total Tax Payable: {format_currency(total_old_tax)}")
    print(f"Take Home Salary: {format_currency(take_home_old)}")
    print()
    print("-"*60)
    print("NEW TAX REGIME")
    print("-"*60)
    print(f"Taxable Income: {format_currency(taxable_income_new)}")
    print(f"Income Tax: {format_currency(new_tax)}")
    print(f"Education & Health Cess (4%): {format_currency(cess_new(new_tax))}")
    print(f"Total Tax Payable: {format_currency(total_new_tax)}")
    print(f"Take Home Salary: {format_currency(take_home_new)}")
    print()
    print("="*60)
    print("RECOMMENDATION")
    print("="*60)
    print()
    print(better_option(take_home_old, take_home_new))
    print()
    print("="*60)

tax_report()

============================================================
INDIAN INCOME TAX CALCULATOR
Financial Year 2023-24
============================================================
Enter your annual salary (₹): 1200000
Deductions include: 80C, 80D, HRA, LTA, etc.
(Note: Deductions are only applicable in Old Regime)
Enter total deductions (₹): 150000
============================================================
INCOME TAX CALCULATION SUMMARY
============================================================

Gross Annual Salary: ₹1,200,000.00
Deductions Claimed: ₹150,000.00

------------------------------------------------------------
OLD TAX REGIME
------------------------------------------------------------
Taxable Income: ₹1,050,000.00
Income Tax: ₹315,000.00
Education & Health Cess (4%): ₹12,600.00
Total Tax Payable: ₹327,600.00
Take Home Salary: ₹722,400.00

------------------------------------------------------------
NEW TAX REGIME
------------------------------------------------------------
Taxable Income: ₹1,200,000.00
Income Tax: ₹240,000.00
Education & Health Cess (4%): ₹9,600.00
Total Tax Payable: ₹249,600.00
Take Home Salary: ₹950,400.00

============================================================
RECOMMENDATION
============================================================

New regime is better. You Save: ₹228,000.00

============================================================